/*.circle-img {
  width: 250px;
  height: 250px;
  overflow: hidden;
}

.circle-img img {
  height: 100%;
  transform: translateX(-50%);
  margin-left: 50%;
}*/
.control-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  position: relative;
}

.image-container {
  border-radius: 5px;
  position: relative;

  > mat-progress-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  > img {
    border-radius: inherit;
  }
}

.brandImage {
  max-width: 100%; /* or any custom size */
  max-height: 100%;
  object-fit: cover;
  /*width: 80px;*/
}

@media screen and (min-width: 768px) {
  /* .brandImage {
    width: 100px;
    margin-right: 0;
    padding: 0 1em;
  }*/
}
/*card deluxe profile*/

.profile-container {
  position: relative;
  background-color: #fff;
  max-width: auto;
  padding: 6em 3em 2.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 1.75em;
}

.img-container {
  width: 6em;
  height: 6em;
  overflow: hidden;
  border: 2px solid #3a3b3c;
  border-radius: 50%;
  box-shadow: 0 8px 55px #3a3b3c;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

.img-container img {
  width: 100%;
  max-width: 100%;
  transform: scale(1.1);
}

.info {
  margin-bottom: 12px;
}

.info i {
  margin-right: 8px;
  font-size: 1.1em;
}

.place {
  margin-bottom: 40px;
}

.full-name {
  font-size: 1.4em;
  font-weight: bold;
  letter-spacing: 1px;
  color: #666f66;
}

.posts-info {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.1em;
  letter-spacing: 0.5px;
  margin-bottom: 0.6em;
  text-align: center;
}

.posts-info span {
  display: block;
  font-weight: bold;
  margin-bottom: 4px;
}

.action {
  outline: none;
  cursor: pointer;
  color: #fff;
  background-color: #3a3b3c;
  border: none;
  border-radius: 50px;
  padding: 12px 20px;
  width: 80%;
  margin-top: 1em;
  box-shadow: 0px 8px 25px rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
  font-size: 1em;
  font-weight: bold;
  letter-spacing: 2px;
  transition: transform 0.3s, opacity 0.3s;
}

.action.message {
  background-color: white;
  color: #3a3b3c;
  border: 1px solid #3a3b3c;
}

.action:hover {
  transform: scale(1.05);
  opacity: 0.85;
}
/*Chat styles*/

/*end chat styles*/
/*chat styles divs outside*/
html,
body {
  margin: 0;
  padding: 0;
}
/*user notification tab*/
.dropdown-list-image {
  position: relative;
  height: 2.5rem;
  width: 2.5rem;
}
.dropdown-list-image img {
  height: 2.5rem;
  width: 2.5rem;
}
.btn-light {
  color: #2cdd9b;
  background-color: #e5f7f0;
  border-color: #d8f7eb;
}

/* chat tab */
.card {
  background: #fff;
  transition: 0.5s;
  border: 0;
  margin-bottom: 30px;
  border-radius: 0.55rem;
  position: relative;
  width: 100%;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 10%);
}
.chat-app .people-list {
  width: 280px;
  position: absolute;
  left: 0;
  top: 0;
  padding: 20px;
  /*z-index: 7*/
}

.chat-app .chat {
  margin-left: 280px;
  border-left: 1px solid #eaeaea;
  height: 100%;
  width: 100%;
}

.people-list {
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.people-list .chat-list li {
  padding: 10px 15px;
  list-style: none;
  border-radius: 3px;
}

.people-list .chat-list li:hover {
  background: #efefef;
  cursor: pointer;
}

.people-list .chat-list li.active {
  background: #efefef;
}

.people-list .chat-list li .name {
  font-size: 15px;
}

.people-list .chat-list img {
  width: 45px;
  border-radius: 50%;
}

.people-list img {
  float: left;
  border-radius: 50%;
}

.people-list .about {
  float: left;
  padding-left: 8px;
}

.people-list .status {
  color: #999;
  font-size: 13px;
}

.chat .chat-header {
  padding: 15px 20px;
  border-bottom: 2px solid #f4f7f6;
}

.chat .chat-header img {
  float: left;
  border-radius: 40px;
  width: 40px;
}

.chat .chat-header .chat-about {
  float: left;
  padding-left: 1.2em;
}

.chat .chat-history {
  padding: 20px;
  border-bottom: 2px solid #fff;
  background: #e6eaea;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cg fill='%23c7c7c7' fill-opacity='0.27'%3E%3Cpolygon fill-rule='evenodd' points='8 4 12 6 8 8 6 12 4 8 0 6 4 4 6 0 8 4'/%3E%3C/g%3E%3C/svg%3E");
}

.chat .chat-history ul {
  padding: 0;
}

.chat .chat-history ul li {
  list-style: none;
  margin-bottom: 30px;
}

.chat .chat-history ul li:last-child {
  margin-bottom: 0px;
}

.chat .chat-history .message-data {
  margin-bottom: 15px;
}

.chat .chat-history .message-data img {
  border-radius: 40px;
  width: 40px;
}

.chat .chat-history .message-data-time {
  color: #434651;
  padding-left: 6px;
}

.chat .chat-history .message {
  color: #444;
  padding: 18px 20px;
  line-height: 26px;
  font-size: 16px;
  border-radius: 7px;
  display: inline-block;
  position: relative;
}

.chat .chat-history .message:after {
  bottom: 100%;
  left: 7%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: #fff;
  border-width: 10px;
  margin-left: -10px;
}

/*.chat .chat-history .my-message {
  background: #efefef
}

.chat .chat-history .my-message:after {
  bottom: 100%;
  left: 30px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: #efefef;
  border-width: 10px;
  margin-left: -10px
}*/

.chat .chat-history .other-message {
  background: #e8f1f3;
  text-align: right;
}

.chat .chat-history .other-message:after {
  border-bottom-color: #e8f1f3;
  left: 93%;
}

.chat .chat-message {
  padding: 20px;
}

.online,
.offline,
.me {
  margin-right: 2px;
  font-size: 8px;
  vertical-align: middle;
}

.online {
  color: #86c541;
}

.offline {
  color: #e47297;
}

.me {
  color: #1d8ecd;
}

.float-right {
  float: right;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

@media only screen and (max-width: 767px) {
  .chat-app .people-list {
    height: 465px;
    width: 100%;
    overflow-x: auto;
    background: #fff;
    left: -400px;
    display: none;
  }
  .chat-app .people-list.open {
    left: 0;
  }
  .chat-app .chat {
    margin: 0;
  }
  .chat-app .chat .chat-header {
    border-radius: 0.55rem 0.55rem 0 0;
  }
  .chat-app .chat-history {
    height: 300px;
    overflow-x: auto;
  }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
  .chat-app .chat-list {
    height: 650px;
    overflow-x: auto;
  }
  .chat-app .chat-history {
    height: 600px;
    overflow-x: auto;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
  .chat-app .chat-list {
    height: 480px;
    overflow-x: auto;
  }
  .chat-app .chat-history {
    height: calc(100vh - 350px);
    overflow-x: auto;
  }
}
/* end chat tab */

/*Start chatbox*/
.message-box {
  position: relative;
  display: flex;
  width: 100%;
  margin: 5px 0;
}

.message-box p {
  position: relative;
  right: 0;
  text-align: right;
  max-width: 65%;
  padding: 12px;
  background: #caf0f8;
  border-radius: 10px;
  font-size: 0.9em;
}

.message-box.my-message p::before {
  content: "";
  position: absolute;
  top: 0;
  right: -12px;
  width: 20px;
  height: 20px;
  background: linear-gradient(
    135deg,
    #caf0f8 0%,
    #caf0f8 50%,
    transparent 50%,
    transparent
  );
}

.message-box p span {
  display: block;
  margin-top: 5px;
  font-size: 0.8em;
  opacity: 0.5;
  font-family: "Lufga-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.my-message {
  justify-content: flex-end;
}

.friend-message p {
  background: #fff;
}

.friend-message {
  justify-content: flex-start;
}

.message-box.friend-message::before {
  content: "";
  position: absolute;
  top: 0;
  left: -12px;
  width: 20px;
  height: 20px;
  background: linear-gradient(
    225deg,
    #fff 0%,
    #fff 50%,
    transparent 50%,
    transparent
  );
}

/*End chatbox*/

::-webkit-scrollbar {
  width: 4px;
  background-color: #ffffff;
}

::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
  border-radius: 50px;
  box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.5) inset;
}

/*ckeck popups
.tick {
  display: inline-block;
  margin-left: 2px;
  position: relative;
  top: 4px;
  height: 16px;
  width: 16px;
}

.tick svg {
  position: absolute;
  transition: 0.5s ease-in-out;
}

.tick svg:first-child {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: perspective(800px) rotateY(180deg);
  transform: perspective(800px) rotateY(180deg);
}

.tick svg:last-child {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: perspective(800px) rotateY(0deg);
  transform: perspective(800px) rotateY(0deg);
}

.tick-animation svg:first-child {
  -webkit-transform: perspective(800px) rotateY(0);
  transform: perspective(800px) rotateY(0);
}

.tick-animation svg:last-child {
  -webkit-transform: perspective(800px) rotateY(-179.9deg);
  transform: perspective(800px) rotateY(-179.9deg);
}*/
/*end check popups*/
#input-section {
  z-index: 1;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  overflow: hidden;
  height: 4em;
  width: 100%;
}

.send {
  background: transparent;
  border: 0;
  cursor: pointer;
  flex: 0 0 auto;
  margin-left: 1.4vw;
  margin-right: 0vw;
  padding: 0;
  position: relative;
  outline: none;
}

.send .circle {
  position: relative;
  width: 4.8vw;
  height: 4.8vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.send .circle i {
  font-size: 3vw;
  margin-left: -1vw;
  margin-top: 1vw;
}

/*edit list*/

.card-list {
  -webkit-align-items: stretch;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  border-top: 1px solid #ebebeb;
  color: #414141;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-text-decoration: none;
  text-decoration: none;
}

.card-list:hover {
  background: #ebebeb;
}

.card-list .image {
  display: block;
  height: 6em;
  width: 8em;
  overflow: hidden;
}

.card-list .content {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 8px 16px;
}

@media all and (max-width: 599px) {
  .card-list .content {
    padding: 4px 16px;
  }
}

.card-list .content .featured-box {
  margin-top: 0px;
}

.card-list .content .featured-box .general,
.card-list .content .featured-box .private,
.card-list .content .featured-box .amenities {
  margin-top: 0px;
}

@media all and (max-width: 599px) {
  .card-list .content .featured-box .private {
    -webkit-box-pack: start;
    -webkit-justify-content: start;
    -ms-flex-pack: start;
    justify-content: start;
  }
}

.card-list .texts {
  -webkit-align-items: start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-weight: bold;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  max-height: 3em;
  overflow: hidden;
}

.card-list .texts .price {
  font-weight: 800;
}

.card-list .texts .price .priceDetails {
  font-size: 75%;
  opacity: 0.48;
  line-height: normal;
  text-align: right;
}

@media all and (max-width: 599px) {
  .card-list .texts .price .priceDetails {
    text-align: center;
  }
}

.card-list .texts .price.under-market {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
}

.card-list .texts .price.under-market .old {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.card-list .texts .price.under-market .old .value,
.card-list .texts .price.under-market .old .priceDetails {
  position: relative;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -webkit-text-decoration: none !important;
  text-decoration: none !important;
  opacity: 0.48 !important;
}

.card-list .texts .price.under-market .old .value::after,
.card-list .texts .price.under-market .old .priceDetails::after {
  content: "";
  border-bottom: 2px solid #414141;
  position: absolute;
  left: 0;
  top: 42%;
  width: 100%;
}

.card-list .texts .price.under-market .old .priceDetails {
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
}

.card-list .texts .price.under-market .old .priceDetails::after {
  border-bottom: 1px solid #414141;
  top: 50%;
}

.card-list .texts .price.under-market .new .priceDetails {
  color: #02b7f2;
  opacity: 1;
}

.card-list .texts .price.under-market .new {
  text-align: right;
}

.card-list .texts .price.under-market .percent {
  font-size: 14px;
  opacity: 0.48;
  line-height: 10px;
  text-align: right;
  font-weight: 400;
  color: #02b7f2 !important;
}

.card-list .texts .price.under-market .percent.listing {
  line-height: 15px;
}

@media all and (max-width: 599px) {
  .card-list .texts {
    -webkit-box-pack: start;
    -webkit-justify-content: start;
    -ms-flex-pack: start;
    justify-content: start;
  }

  .card-list .texts > :first-of-type {
    display: none;
  }
}
/*custom bootstrap
.btn-danger {
  background-color: #f94449;
}

.btn-primary {
  background-color: dodgerblue;
}

.btn-warning {
  background-color: #fffd74;
}*/
/*custom bootstrap*/

/*heart checkbox*/
.red-heart-checkbox {
  visibility: hidden;
}
.red-heart-checkbox + label {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 1.5em;
  padding-left: 15px;
  transition: all 0.2s;
}
.red-heart-checkbox:checked + label:before {
  content: "\f004";
  color: #f00;
}
.red-heart-checkbox + label:before {
  width: 31.5px;
  height: 30px;
  content: "";
  position: absolute;
  margin-left: -0.8em;
  margin-top: -1em;
  font-family: FontAwesome;
  font-size: 30px;
  content: "\f08a";
  transition: all 0.3s;
  color: #888;
}
.red-heart-checkbox + label:hover:before {
  transform: scale(1.2);
}
/*end heart checkbox*/

:host ::ng-deep .p-element .p-sidebar-full {
  z-index: 0;
}

.p-sidebar-full {
  z-index: 0 !important;
}

::ng-deep .p-element .p-sidebar-full {
  overflow: unset;
}

::ng-deep .p-element {
  .p-sidebar {
    z-index: 1500 !important;
  }
  .p-sidebar-full {
    z-index: 1500 !important;
  }

  .p-sidebar-full .p-sidebar-header {
    z-index: 1500 !important;
  }
}

::ng-deep .p-dropdown {
  height: 2.125em;
}

/*multiselect*/
::ng-deep .p-multiselect-header {
  display: none;
}

::ng-deep .p-multiselect-label {
  display: none;
}

::ng-deep .p-multiselect {
  height: 2.125em;
}
::ng-deep .p-multiselect-clear-icon {
  display: none;
  /*right: -44px;
  top: 0px;*/
}

::ng-deep .p-colorpicker-hue-handle {
  background-color: white;
}

::ng-deep .p-colorpicker-hue {
  background-color: transparent;
  border-color: white;
}

/*.fullscreen-nav {
  width: 100vw !important;
  height: 100vh !important;
}*/

::ng-deep .p-checkbox-box {
  display: none;
}

::ng-deep .p-togglebutton {
  height: 2.6em;
}

::ng-deep .p-card-title {
  color:#3a3b3c;
  letter-spacing: .4px;
}

.mat-button-toggle {
  background-color: #d9d9d9;
  color: #3a3b3c;
  /*border-radius: .375em !important;*/
}

.mat-button-toggle:hover {
  background-color: transparent !important;
  color: #7ce800 !important;
}

.mat-button-toggle-checked {
  background-color: #3a3b3c !important;
  color: #ffffff !important;
}

/*services buttons*/ 
.btnDistancia {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s, box-shadow 0.3s;
}

.btnDistancia:hover {
  transform: translateY(-3px);
  /*transform: rotate(-10deg) scale(1.1);*/
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}

.btnDistancia:active {
  transform: rotate(0) scale(1);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.btndlt {
  display: inline-block;
  padding: 4px 8px;
  font-size: 11px;
  border: none;
  border-radius: 50px;
  background-color: #fb6966;
  color: white;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s, box-shadow 0.3s;
}

.btndlt:hover {
  transform: translateY(-3px);
  /*transform: rotate(-10deg) scale(1.1);*/
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}

.btndlt:active {
  transform: rotate(0) scale(1);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}
/*end services button*/
::ng-deep .leaflet-routing-alternatives-container {
  display: none;
}

::ng-deep .ant-notification-notice-message {
  color:white;
}

::ng-deep .ant-notification-notice-close {
  color:white;
}
