<div class="modal-header">
  <h4 class="modal-title">{{ toUser }}</h4>
  <button
    type="button"
    class="btn-close"
    (click)="activeModal.dismiss('Cross click')"
  ></button>
</div>
<div class="modal-body">
  <div class="card border-secondary">
    <div class="card-header h3 text-muted text-center">Messages</div>
    <div class="card-body">
      <div style="overflow-y: auto; height: 450px">
        <p class="card-text" *ngFor="let message of messages">
          <span class="text-primary">{{ message.from }}: </span>
          <span class="ml-1">{{ message.content }}</span>
        </p>
      </div>
    </div>
    <div class="card-footer">
      <form #messageForm="ngForm" (ngSubmit)="sendMessage()" autocomplete="off" >
        <div class="row">
          <div class="col-9">
            <input type="text" [(ngModel)]="this.content" name="content" required class="form-control" placeholder="Send message"/>
          </div>
          <div class="col-3">
            <div class="d-grid">
              <button [disabled]="!messageForm.valid" class="btn btn-dark btn-block" type="submit" >
                <ion-icon name="send-outline"></ion-icon>
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

