/* Badge user account status */
.chip {
  padding: 8px 10px;
  border-radius: 10px;
  font-weight: 600;
  font-size: 12px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
  margin: 0 10px;

  cursor: pointer;
}

.chip.primary {
  background: #59ce72;
  color: whitesmoke;
}

.chip.danger {
  background: #ef233c;
  color: whitesmoke;
}
/* end */

/* font variation alternate */
.fontVariation {
  font-family: "Pangea Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/* end */

.image-preview {
  box-shadow: 0 1px 3px rgb(0 0 0 / 8%), 0 4px 8px rgb(0 0 0 / 4%);
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-left: 10px;
  display: block;
  max-width: 230px;
  max-height: 155px;
  width: auto;
  height: auto;
}
