
<!-- Image Slider -->
<div id="slides" class="carousel slide" data-bs-ride="carousel">
  <ul class="carousel-indicators">
    <li data-bs-target="#slides" data-bs-slide-to="0" class="active"></li>
    <li data-bs-target="#slides" data-bs-slide-to="1" ></li>
    <li data-bs-target="#slides" data-bs-slide-to="2" ></li>
  </ul>

  <div class="carousel-inner">
    <div class="carousel-item active">
      <img
        src="assets/img/tmp/Background.jpg"
        alt="carousel image"
        width="1900"
        height="920"
      />
      <div class="carousel-caption">
        <h3 class="mb-3">Encuentra la casa de tus sueños</h3>
        <button class="btn btn-outline-light btn-lg mx-3 my-1" type="button">
          CONSEJOS
        </button>
        <button class="btn btn-primary btn-lg mx-3 my-1" type="button">
          EMPEZAR
        </button>
      </div>
    </div>
    <div class="carousel-item">
      <img
        src="assets/img/tmp/Background2.png"
        alt="carousel image"
        width="1900"
        height="920"
      />
    </div>
    <div class="carousel-item">
      <img
        src="assets/img/tmp/Background3.jpg"
        alt="carousel image"
        width="1900"
        height="920"
      />
    </div>
  </div>
</div>




<!--- Jumbotron -->
<div class="container-fluid">
    <div class="row jumbotron jumbotron-fluid p-3">
      <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xl-10">
        <p class="lead">
          Basándonos en tu actividad reciente, disponemos de agentes para que encuentres lo que necesitas.
        </p>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-2">
        <a href="#">
          <button class="btn btn-outline-secondary btn-md btn-block">
            <i class="fa fa-search"></i><span class="button-text"> Buscar agente</span>
          </button>
        </a>
      </div>
    </div>
  </div>

  <!--- Two Column Section 1 -->
<div class="row">
  <div class="col-md-6 how-img">
      <img src="assets/img/tmp/ismasl.png" class="rounded-circle img-fluid" alt=""/>
  </div>
  <div class="col-md-6">
      <h5>Grupo Isma SL adquiere MyHouse.com</h5>
  <p class="text-muted">Con la adquisición del dominio Houses.com, el grupo Isma SL prepara el 
    escenario para su entrada en bienes raíces residenciales con planes para desarrollar un mercado 
    nacional dinámico para que agentes y propietarios puedan vender casas con éxito sin privar 
    de sus derechos o desintermediar a valiosos agentes de bienes raíces en el proceso.</p>
  </div>
</div>


  <!--- Two Column Section 2 -->
  <div class="container-fluid pb-5">
    <div class="row pb-5">
      <div class="col-lg-6">
        <h2>Todavía no tienes agente?</h2>
        <p class="mb-3">
          Todos tenemos un lugar para tí.
        </p>
        <p class="mb-3">
          Nuestros clientes siempre encuentran a un agente con una experiencia ajustada a sus necesidades.
          No cobramos por las coincidencias de agentes ni participamos en su comisión.
        </p>
        <p class="mb-3">
          Entre todos tenemos que darle la vuelta a la situación del acceso a la vivienda. Es por ello que el 
          equipo de MyHouse lanza una iniciativa para ayudar a quienes mas lo necesitan.  
        </p>
  
        <a href="#" class="btn btn-primary" role="button"> Leer mas </a>
      </div>
      <div class="col-lg-6">
        <img class="img-fluid" src="assets/img/tmp/find-agent.png" alt="agent image" />
      </div>
    </div>
  </div>
  
  <hr class="my-4" />
  
  <!-- Animating Icons -->
  <div class="fa-3x">
    <i class="fa-solid fa-house fa-beat" style="--fa-animation-duration: 2s; padding-left:25px;"></i>
  </div>
  
  <!--- Cards -->
  <div class="container-fluid pb-5">
    <div class="row pb-5">
      <div class="col-md-4">
        <div class="card">
          <img src="assets/img/tmp/team1.png" alt="team member" class="card-img-top" />
          <div class="card-body">
            <h4 class="card-title">Juan Martínez</h4>
            <p class="card-text">
              En mas del 90% de los casos los clientes que han utilizado los servicios de 
              un agente han quedado satisfechos con la vivienda de sus sueños. 
            </p>
            <a href="#" class="btn btn-outline-secondary" role="button"
              >Ver perfil</a
            >
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img src="assets/img/tmp/team2.png" alt="team member" class="card-img-top" />
          <div class="card-body">
            <h4 class="card-title">María de la Paz</h4>
            <p class="card-text">
              Si tienes un agente en mente hoy es el mejor día para contactarle y comenzar 
              el proceso de búsqueda de tu nueva casa.
            </p>
            <a href="#" class="btn btn-outline-secondary" role="button"
              >Ver perfil</a
            >
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img src="assets/img/tmp/team3.png" alt="team member" class="card-img-top" />
          <div class="card-body">
            <h4 class="card-title">Carlos Díaz</h4>
            <p class="card-text">
              Con nuestra ayuda encontrarás todo lo que necesitas acerca de cada fase del proceso
              de compra, alquiler y financiamiento de la vivienda de tus sueños.
            </p>
            <a href="#" class="btn btn-outline-secondary" role="button"
              >Ver perfil</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Column two section -->
  <div class="container-fluid pb-5">
    <div class="row pb-5">
      <div class="col-md-6">
        <h2>Tips para compradores</h2>
        <p class="mb-3">
          ¿Pensando en construir una casa? Hazte con los planos de un proyecto interesante, 
          considera la eficiencia energética, estudia la calidad del aire en la zona y tu capacidad 
          de personalizar tu entorno son algunas de las razones clave para adquirir un terreno.
        </p>
        <p class="mb-3">
          No renuncies a mejores colegios para tus hijos, 
          mejores vistas o simplemente más tranquilidad para disfrutar cuando llegues a tu casa. 
        </p>
      </div>
      <div class="col-md-6">
        <img
          class="img-fluid"
          src="assets/img/tmp/new-home+.png"
          alt="bootstrap logo image"
        />
      </div>
    </div>
    <hr class="my-4" />
  </div>
  
  <!--- Connect -->
  <div class="container-fluid pb-5">
    <div class="row text-center pb-5">
      <div class="col-12">
        <h2>Siquenos en redes sociales</h2>
      </div>
      <div class="col-12 d-flex justify-content-around social pb-5">
        <a href="#">
          <i class="fab fa-facebook fa-3x text-primary"></i>
          <span class="sr-only">Facebook</span>
        </a>
        <a href="#">
          <i class="fab fa-twitter fa-3x text-info"></i>
          <span class="sr-only">Twitter</span>
        </a>
        <a href="#">
          <i class="fab fa-google-plus-g fa-3x text-danger"></i>
          <span class="sr-only">Google Plus</span>
        </a>
        <a href="#">
          <i class="fab fa-instagram fa-3x text-info"></i>
          <span class="sr-only">Instagram</span>
        </a>
        <a href="#">
          <i class="fab fa-youtube fa-3x text-danger"></i>
          <span class="sr-only">Youtube</span>
        </a>
      </div>
    </div>
  </div>
  
  <!--- Footer -->
  <footer>
    <div class="container-fluid bg-dark pt-5">
      <div class="row text-center text-white py-3">
        <div class="col-md-4">
          <img
            src="assets/img/tmp/icon-markers-19.jpg"
            alt="logo"
            class="border-bottom pb-3 mb-3"
            width="90"
            height="90"
          />
  
          <p>555-555-5555</p>
          <p>ismael.sabriARROBAgmail.es</p>
          <p>Avenida del Mediterraneo 100 </p>
          <p>Valencia, Spain, 00000</p>
        </div>
        <div class="col-md-4">
          <h4 class="py-3 mb-3 border-top border-bottom"> <i class="fa fa-clock-o" aria-hidden="true"></i> Horario</h4>
          <p>De Lunes a Viernes: 9am - 5pm</p>
          <p>Sábados: 10am - 4pm</p>
          <p>Domingos: closed</p>
        </div>
        <div class="col-md-4">
          <h4 class="py-3 mb-3 border-top border-bottom"> <i class="fa fa-building" aria-hidden="true"></i> Entidades</h4>
          <p>Valencia, Av. Francia s/n, 000000</p>
          <p>Madrid, Paseo de la castellana s/n, 000000</p>
          <p>Barcelona, Carrer del Port, 000000</p>
          <p>Alicante, Benidorm, 000000</p>
        </div>
        <div class="col-12">
          <hr class="light mb-4" />
          <h5>&copy; <i class="fa fa-home" aria-hidden="true"></i> MyHouse 2022</h5>
        </div>
      </div>
    </div>
  </footer>
  
  
  