
* {
  font-family: "Gelion Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-variation-settings: "XTDR" 50, "APRT" 100, "SPAC" 40;
}

.user_card {
  height: 500px;
  width: 600px;
  margin-top: auto;
  margin-bottom: auto;
  background: #e0e0e0;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  box-shadow:  -11px 11px 22px #bebebe, 11px -11px 22px #ffffff;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0a, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 22px;
}
.brand_logo_container {
  position: absolute;
  height: 170px;
  width: 170px;
  top: -75px;
  border-radius: 50%;
  background: #60a3bc;
  padding: 10px;
  text-align: center;
}
.brand_logo {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  border: 2px solid white;
}
.form_container {
  margin-top: 100px;
}
.login_btn {
  width: 100%;
  background: #1b4f72 !important;
  color: white !important;
}
.login_btn:focus {
  box-shadow: none !important;
  outline: 0px !important;
}
.login_container {
  padding: 0 2rem;
}
.input-group-text {
  background: #1b4f72 !important;
  color: white !important;
  border: 0 !important;
  border-radius: 0.25rem 0 0 0.25rem !important;
}
.input_user,
.input_pass:focus {
  box-shadow: none !important;
  outline: 0px !important;
}
.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #1b4f72 !important;
}

* {
  box-sizing: border-box;
}
body {
  background-color: #e0e0e0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.c-email {
  width: 40vw;
  border-radius: 40px;
  overflow: hidden;
  box-shadow: 0px 7px 22px 0px rgba(0, 0, 0, 0.1);
  & header {
    background-color: #0fd59f;
    width: 100%;
    height: 60px;
    & title {
      font-size: 23px;
      font-family: "Open Sans";
      height: 60px;
      line-height: 60px;
      margin: 0;
      text-align: center;
      color: white;
    }
  }
  & content {
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background-color: #fff;
    padding: 15px;
    & text {
      font-size: 20px;
      text-align: center;
      color: #343434;
      margin-top: 0;
    }
  }
  & code {
    display: block;
    width: 60%;
    margin: 30px auto;
    background-color: #ddd;
    border-radius: 40px;
    padding: 20px;
    text-align: center;
    font-size: 36px;
    font-family: "Open Sans";
    letter-spacing: 10px;
    box-shadow: 0px 7px 22px 0px rgba(0, 0, 0, 0.1);
  }
  & footer {
    width: 100%;
    height: 60px;
    background-color: #fff;
  }
}

.text-title {
  font-family: "Open Sans";
}
.text-center {
  text-align: center;
}
.text-italic {
  font-style: italic;
}
.opacity-30 {
  opacity: 0.3;
}
.mb-0 {
  margin-bottom: 0;
}
.eyeicon {
  position: absolute;
  right: -15px;
  top: 10px;
  cursor: pointer;
}

.logo {
  cursor: pointer;
  margin-right: auto;
}

.logo img {
  height: 50px;
  width: auto;
  transition: all 0.3s;
}

.logo img:hover {
  transform: scale(1.2);
}

/* Iconos en el lado de los textfield */

