<nav class="navbar fixed-top navbar-expand-lg navbar-dark p-md-3">
  <div class="container">
    <a href="index.html" class="navbar-brand">
      <img src="assets/img/unknown-house.png" alt="" width="30" height="30" />
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <div class="mx-auto"></div>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" style="color:dodgerblue" href="#">Crear nuevo</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color:dodgerblue" (click)="imprimir()">Guardar anuncio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" style="color:dodgerblue" (click)="onLogOut()" routerLink="/login">Salir</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" style="color:dodgerblue" >Reservado</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color:dodgerblue" href="#">Pricing</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!--- Two Column Section -->
<div class="container-fluid pb-5">
  <img class="img-fluid" src={{edificio.imageUrl}} alt="desk image" />
  <div class="maintxt">
    <h6>Descripcion:</h6>
    <span class="overlay-text" style="color:#ccff00">{{edificio.descripcion}}</span>
    <h6>Calle:</h6>
    <span class="overlay-text" style="color:#ccff00">{{edificio.calle}}</span>
    <h6>Codigo postal:</h6>
    <span class="overlay-text" style="color:#ccff00">{{edificio.cp}}</span>
    <h6>Estado de la vivienda:</h6>
    <div class="d-flex rating-list align-items-center">
      <div class="star w-50 rating-star">
        <ngb-rating [max]="5" style="color:#ccff00" [(rate)]="edificio.valoracion" [readonly]="true"></ngb-rating>
      </div>
    </div>
    <div class="col col-md-3 d-flex">
      <button class="btn btn-outline-light btn-md mx-2 my-1" data-toggle="modal" data-target="#contact_form">
        <i *ngIf="refreshing" class="fas fa-spinner fa-spin"></i>&nbsp;&nbsp;
        <span *ngIf="refreshing">Cargando...</span>
        <span *ngIf="!refreshing">Contactar</span>
      </button>
    </div>
  </div>
</div>

<!-- model contact form -->
<div class="modal draggable fade bd-example-modal-lg" id="contact_form" tabindex="-1" rol="dialog"
  aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog" rol="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-center">Formulario de contacto</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div>
          <form method="post" (ngSubmit)="contactMessage()" id="contactForm">
            <div class="form-group">
              <label for="Nombre">Nombre</label>
              <input type="text" name="nombre" required [(ngModel)]="contactUser.nombre" placeholder="nombre"
                class="form-control">
            </div>
            <div class="form-group">
              <label for="correo">Correo electrónico</label>
              <input type="text" name="correo" required [(ngModel)]="contactUser.correo" placeholder="correo"
                class="form-control">
            </div>
            <div class="form-group">
              <label for="numero">Teléfono</label>
              <input type="text" ngModel pattern="\d*" maxlength="12" (keypress)="numberOnly($event)" name="numero"
                required [(ngModel)]="contactUser.telefono" placeholder="Numero" class="form-control">
            </div>
            <!--textarea-->
            <div class="form-group">
              <label for="descripcion">Mensaje</label>
              <textarea required
                style="resize:none; border-radius:5px; height:100px; width:465px; background-color:white;color:black;"
                [(ngModel)]='contactUser.mensaje' rows="30" cols="120">
                  </textarea>
            </div>
            <button type="submit" style="display: none;" id="new-user-save"></button>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal" id="contact-form-close">Cerrar</button>
              <input type="submit" class="btn btn-primary" value="Enviar">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>




