* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Gelion Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-variation-settings: "XTDR" 50, "APRT" 100, "SPAC" 40;
}

/* Falta meterle el js */
.leaflet-pane {
  position:relative;
}

.tooltipX {
  display: flex;
  position:relative;
  top: 0;
  left: 0;
  right: -5px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 5px 5px 50px rgba(0, 0, 0, 0.2);
  width: 32em;
  height: 12.50em;
  z-index: 1000;
  opacity: 0;
  transition: 0.3s ease all;
  transform: translateY(10px);
}

.tooltipX::after {
  content: "";
  display: inline-block;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid #fff;
  position: absolute;
  bottom: -15px;
  left: calc(50% - 15px);
}

.tooltipX:active {
  opacity: 1;
  transform: translateY(0px);
}

/* Falta terminar */
/*fin pruebas*/

/* Strong markers */
.marker-pin {
  width: 30px;
  height: 30px;
  border-radius: 50% 50% 50% 0;
  background: #3a3b3c;
  position: absolute;
  transform: rotate(-45deg);
  left: 50%;
  top: 50%;
  margin: -15px 0 0 -15px;
}

.marker-pin::after {
  content: "";
  width: 24px;
  height: 24px;
  margin: 3px 0 0 3px;
  background: #fff;
  position: absolute;
  border-radius: 50%;
}

.custom-div-icon i {
  position: absolute;
  width: 22px;
  font-size: 22px;
  left: 0;
  right: 0;
  margin: 10px auto;
  text-align: center;
}
/*F.awesome*/
.custom-div-icon i.awesome {
  margin: 12px auto;
  font-size: 17px;
}
/*Bootstrap*/
.custom-div-icon i.bi {
  padding: 0 0px 16px 0;
  font-size: 17px;
}
/* Ionic */
.custom-div-icon ion-icon {
  position: absolute;
  width: 22px;
  font-size: 22px;
  left: 0;
  right: 0;
  margin: 10px auto;
  text-align: center;
}

.custom-div-icon ion-icon.ionicon {
  margin: 12px auto;
  font-size: 17px;
}
/* Angular material */
.custom-div-icon mat-icon {
  position: absolute;
  width: 22px;
  font-size: 22px;
  left: 0;
  right: 0;
  margin: 10px auto;
  text-align: center;
}

.custom-div-icon i.maticon {
  margin: 12px auto;
  font-size: 17px;
}
