


#map {
  width: auto;
  margin: auto;
  min-height: 905px;
  max-height: 500px;
  height: 100%;
}

html,
body {
  color: #222;
}

.nav-link {
  font-size: 1.1rem !important;
}

.carousel-inner img {
  width: 100%;
  height: calc(100vh - 75px);
  object-fit: cover;
}

.carousel-caption {
  transform: translateY(-60%);
}

.carousel-inner {
  overflow: visible;
}

.carousel-item {
  display: flex !important;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0 linear, visibility 1s;
  z-index: -1;
  /*ease-in-out*/
}

.carousel-item.active {
  opacity: 1;
  visibility: visible;
  z-index: 10;
}

.carousel-control-prev {
  z-index: 20;
}

.carousel-control-next {
  z-index: 20;
}

.carousel-indicators {
  z-index: 20;
}

.welcome {
  width: 75%;
}
.welcome hr {
  width: 90%;
}

hr.light {
  background: #777;
  width: 80%;
}

/*--- Fixed Background Image --*/
figure {
  position: relative;
  width: 100%;
  height: 50vh;
  background: url("./img/mac.png");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
  padding: 1rem;
}

/*---Media Queries --*/

@media (max-width: 768px) {
  .carousel-caption {
    transform: translateY(-80%);
  }
  .carousel-caption h1 {
    font-size: 4rem;
  }

  .welcome .display-4 {
    font-size: 3rem;
  }

  .social a i {
    font-size: 2.5rem;
  }
}

@media (max-width: 576px) {
  .social a i {
    font-size: 1.75rem;
  }
}

@media (max-width: 480px) {
  .carousel-caption {
    left: 5%;
    right: 5%;
  }
  .carousel-caption h1 {
    font-size: 3rem;
  }

  .welcome {
    width: 100%;
  }

  footer h4 {
    display: inline-block;
    width: 60%;
  }
  footer h4.border-top {
    border-top: 0 !important;
  }
}

@media (max-width: 400px) {
  .carousel-caption {
    transform: translateY(-20%);
    left: 1%;
    right: 1%;
  }

  .welcome .display-4 {
    font-size: 2.5rem;
  }
}

.star {
  color: #FFC107;
  font-size: 30px;
  
}

star:hover{
  transform: rotate(0deg) scale(1.2);
}

.mbutton {
  position: relative;
  background-color: #4CAF50;
  border: none;
  font-size: 28px;
  color: #FFFFFF;
  padding: 20px;
  width: 200px;
  text-align: center;
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
}

.mbutton:after {
  content: "";
  background: #f1f1f1;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}

.mbutton:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}

/* icon */
.toastr {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAGwSURBVEhLtZa9SgNBEMc9sUxxRcoUKSzSWIhXpFMhhYWFhaBg4yPYiWCXZxBLERsLRS3EQkEfwCKdjWJAwSKCgoKCcudv4O5YLrt7EzgXhiU3/4+b2ckmwVjJSpKkQ6wAi4gwhT+z3wRBcEz0yjSseUTrcRyfsHsXmD0AmbHOC9Ii8VImnuXBPglHpQ5wwSVM7sNnTG7Za4JwDdCjxyAiH3nyA2mtaTJufiDZ5dCaqlItILh1NHatfN5skvjx9Z38m69CgzuXmZgVrPIGE763Jx9qKsRozWYw6xOHdER+nn2KkO+Bb+UV5CBN6WC6QtBgbRVozrahAbmm6HtUsgtPC19tFdxXZYBOfkbmFJ1VaHA1VAHjd0pp70oTZzvR+EVrx2Ygfdsq6eu55BHYR8hlcki+n+kERUFG8BrA0BwjeAv2M8WLQBtcy+SD6fNsmnB3AlBLrgTtVW1c2QN4bVWLATaIS60J2Du5y1TiJgjSBvFVZgTmwCU+dAZFoPxGEEs8nyHC9Bwe2GvEJv2WXZb0vjdyFT4Cxk3e/kIqlOGoVLwwPevpYHT+00T+hWwXDf4AJAOUqWcDhbwAAAAASUVORK5CYII=") !important; 
  background-color: dodgerblue;
}