/*@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;800&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css");
@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js");*/

#map {
  width: auto;
  margin: auto;
  min-height: 905px;
  max-height: 500px;
  height: 100%;
}

.star {
  color: #ffc107;
  font-size: 30px;
}

star:hover {
  transform: rotate(0deg) scale(1.2);
}

/* icon */
.toastr {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAGwSURBVEhLtZa9SgNBEMc9sUxxRcoUKSzSWIhXpFMhhYWFhaBg4yPYiWCXZxBLERsLRS3EQkEfwCKdjWJAwSKCgoKCcudv4O5YLrt7EzgXhiU3/4+b2ckmwVjJSpKkQ6wAi4gwhT+z3wRBcEz0yjSseUTrcRyfsHsXmD0AmbHOC9Ii8VImnuXBPglHpQ5wwSVM7sNnTG7Za4JwDdCjxyAiH3nyA2mtaTJufiDZ5dCaqlItILh1NHatfN5skvjx9Z38m69CgzuXmZgVrPIGE763Jx9qKsRozWYw6xOHdER+nn2KkO+Bb+UV5CBN6WC6QtBgbRVozrahAbmm6HtUsgtPC19tFdxXZYBOfkbmFJ1VaHA1VAHjd0pp70oTZzvR+EVrx2Ygfdsq6eu55BHYR8hlcki+n+kERUFG8BrA0BwjeAv2M8WLQBtcy+SD6fNsmnB3AlBLrgTtVW1c2QN4bVWLATaIS60J2Du5y1TiJgjSBvFVZgTmwCU+dAZFoPxGEEs8nyHC9Bwe2GvEJv2WXZb0vjdyFT4Cxk3e/kIqlOGoVLwwPevpYHT+00T+hWwXDf4AJAOUqWcDhbwAAAAASUVORK5CYII=") !important;
  background-color: dodgerblue;
}

/* Tuned nav */

/** {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
  font-size: 20px;
}

body {
  background-color: #fff59d;
}*/

.header {
  background-color: hsl(0, 0%, 100%);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 85px;
  padding: 5px 10%;
}

.header .logo {
  cursor: pointer;
  margin-right: auto;
}

.header .logo img {
  height: 70px;
  width: auto;
  transition: all 0.3s;
}

.header .logo img:hover {
  transform: scale(1.2);
}

.header .nav-links {
  list-style: none;
}

.header .nav-links li {
  display: inline-block;
  padding: 0 20px;
}

.header .nav-links li:hover {
  transform: scale(1.1);
}

.header .nav-links a {
  font-size: 700;
  color: hsl(204, 77%, 22%);
  text-decoration: none;
}

.header .nav-links li a:hover {
  color: #ffbc0e;
}

.header .btn button {
  margin-right: 20px;
  font-weight: 700;
  color: #1b3039;
  padding: 9px 25px;
  background: #eceff1;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.header .btn button:hover {
  background-color: #e2f1f8;
  color: #ffbc0e;
  transform: scale(1.1);
}

/* custom leaflet-pane */

.header .nav-links2 {
  list-style: none;
}

.header .nav-links2 li {
  display: inline-block;
  padding: 0 20px;
}


.header .nav-links2 li:hover {
  transform: scale(1.1);
}

.header .nav-links2 a {
  font-size: 700;
  color: #eceff1;
  text-decoration: none;
}

.header .nav-links2 li a:hover {
  color: #ffbc0e;
}



/* end custom toolti

.slideout-panel {
  position:relative;
  z-index: 1;
  will-change: transform; 
}*/

.secondnav {
  overflow: hidden;
  overflow-x: auto;
  /* width: 100%; */
  white-space: nowrap;
  flex-wrap: inherit;
}

.nav-border {
  border-radius: 30px;   
  }



