<nav class="
    navbar navbar-expand-md navbar-light
    bg-light
    sticky-top
    py-2
    shadow-sm
  ">
  <div class="container-fluid">
    <a href="index.html" class="navbar-brand">
      <img src="assets/img/tmp/unknown-house.png" alt="Logo" width="100" height="75" />
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
      <span class="navbar-toggler-icon">
        <span class="sr-only">Menu bar</span>
      </span>
    </button>

    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active pr-3">
          <a routerLink="/home" class="nav-link"> Home </a>
        </li>
        <li class="nav-item pr-3">
          <a routerLink="/login" *ngIf='!this.state' class="nav-link"> Entrar </a>
        </li>
        <li class="nav-item pr-3">
          <a routerLink="/register" *ngIf='!this.state' class="nav-link"> Registrarse </a>
        </li>
        <!--<li class="nav-item pr-3">
          <a href="#" [hidden]="!isAdmin" class="nav-link disabled" routerLink="/user/management"> Usuarios</a>
        </li>-->
        <li class="nav-item pr-3">
          <a href="#" class="nav-link disabled"> Acerca de nosotros </a>
        </li>
        <li class="nav-item pr-3">
          <a routerLink="/vlog" class="nav-link"> Vlog </a>
        </li>
        <li class="nav-item pr-3">
          <a [routerLink]="" class="nav-link" (click)="createLocationMarker()"> Crear edificio </a> <!--*ngIf='this.state'-->
        </li>
        <li class="nav-item pr-3">
          <a href="#" class="nav-link disabled" *ngIf='this.state' data-toggle="modal" data-target="#addMarkerModal"> Crear vivienda
          </a>
        </li>
        <li class="nav-item pr-3">
          <a href="#" class="nav-link" *ngIf='this.state' (click)="onLogOut()" routerLink="/home"> Salir </a>
        </li>
      </ul>
    </div>
  </div>
</nav>


<!-- modal add marker *ngIf='this.state' -->
<div  class="modal draggable fade bd-example-modal-lg" id="addMarkerModal" tabindex="-1" rol="dialog"
  aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog" rol="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-center">Nuevo Edificio</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div>
          <form method="post" (ngSubmit)="createEdificio()" id="markerForm">
            <div class="form-group">
              <label for="fotos">Sube una foto del edificio</label><br>
              <input required (change)="saveImage($event)" type="file" />
            </div>
            <!-- previsualización -->
            <div class="form-group" *ngIf="prev">
              <img [src]="prev" alt="" height="75px" width="75" style="border-radius:5px;">
            </div>
            <!--textarea-->
            <div class="form-group">
              <label for="descripcion">Descripción</label>
              <textarea required
                style="resize:none; border-radius:5px; height:100px; width:465px; background-color:white;color:black;"
                [(ngModel)]='edificio.descripcion' rows="30" cols="120">
                  </textarea>
            </div>
            <div class="form-group">
              <label for="calle">Calle</label>
              <input type="text" name="calle" required [(ngModel)]="edificio.calle" placeholder="calle"
                class="form-control">
            </div>
            <div class="form-group">
              <label for="numero">Número</label>
              <input type="text" ngModel pattern="\d*" maxlength="3" (keypress)="numberOnly($event)" name="numero"
                required [(ngModel)]="edificio.numero" placeholder="Numero" class="form-control">
            </div>
            <div class="form-group">
              <label for="cp">Código postal</label>
              <input type="text" ngModel pattern="\d*" maxlength="5" (keypress)="numberOnly($event)" name="cp" required
                [(ngModel)]="edificio.cp" placeholder="Código postal" class="form-control">
            </div>


            <div class="form-group">
              <label for="puertas">Puertas</label>
              <input type="text" ngModel pattern="\d*" maxlength="3" name="puertas" (keypress)="numberOnly($event)"
                required [(ngModel)]="edificio.puertas" placeholder="puertas" class="form-control">
            </div>
            <div class="d-flex rating-list align-items-center">
              <p class="w-50">Estado del inmueble</p>
              <div class="star w-50 rating-star">
                <ngb-rating [max]="5" [(rate)]="edificio.valoracion" [readonly]="false"></ngb-rating>
              </div>
            </div>
            <!-- <div class="form-group">
                  <label for="username">Nombre de Usuario</label>
                  <input type="text" name="username" required ngModel class="form-control">
                </div>
                <div class="form-group">
                  <label for="email">Email</label>
                  <input type="email" name="email" required ngModel class="form-control">
                </div> 
                <div *ngIf="isAdmin" class="form-group">
                  <label for="authority">Rol</label>
                  <select name="rol" required ngModel="ROLE_USER" class="form-control">
                    <option value="ROLE_USER">USER</option>
                    <option value="ROLE_HR">HR</option>
                    <option value="ROLE_MANAGER">MANAGER</option>
                    <option value="ROLE_ADMIN">ADMIN</option>
                    <option value="ROLE_SUPER_ADMIN">SUPER ADMIN</option>
                  </select>
                </div>
                <div *ngIf="!isAdmin" class="form-group">
                  <label for="authority">Rol</label>
                  <input type="text" name="rol" required ngModel="USER" readonly class="form-control">
                </div>
                <div class="input-group mb-2">
                  <div class="input-group-prepend">
                    <span class="input-group-text">Foto de Perfil </span>
                  </div>
                  <div class="custom-file">
                    <input type="file" accept="image/*" name="profileImage"
                    (change)="onProfileImageChange($event.target.files[0].name, $event.target.files[0])"
                      class="custom-file-input">
                    <label class="custom-file-label"><span [hidden]="!fileName">{{ fileName }}</span>
                      <span [hidden]="fileName">Seleccionar de mi equipo</span>
                    </label>
                  </div>
                </div>
                <fieldset class="form-group">
                  <div class="form-check">
                    <label class="form-check-label">
                      <input type="checkbox" name="active" ngModel class="form-check-input" >
                      Activo
                    </label>
                  </div>
                  <div class="form-check disabled">
                    <label class="form-check-label">
                      <input type="checkbox" name="notLocked" ngModel class="form-check-input">
                      Desbloqueado
                    </label>
                  </div>
                </fieldset>-->
            <button type="submit" style="display: none;" id="new-user-save"></button>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal" id="new-marker-close">Cerrar</button>
              <input type="submit" class="btn btn-primary" value="Crear">
            </div>

          </form>
        </div>
      </div>

    </div>
  </div>
</div>

<!-- Leaflet map -->
<div id="map"></div>
