<!-- Header Start -->
<div class="header-wrap">
  <header>
    <div class="container">
      <!-- Logo Start -->
      <div class="logo">
        <a  routerLink="/home">
          <img src="assets/img/tmp/unknown-house.png" width="80px;" height="80px" alt="Real Estate" />
        </a>
      </div>
      <!-- Logo End -->
      <button class="menu-toggle">
        <ion-icon name="menu"></ion-icon>
      </button>
      <div class="header-right">
        <!-- Header Menu Start -->
        <div class="menu">
        <ul>
            <!--<li></li>-->
            <!--<li><a href="#">Propiedades</a></li>-->
            <li ><a >Vivir en España</a></li>
            <li ><a >Noticias</a></li>
            <li ><a >Comercial</a></li>
            <li ><a >Tendencias</a></li>
          </ul>
        </div>
        <a class="navbar-item" id="navbarDropdown" [nzDropdownMenu]="menu" nz-dropdown role="button"
              aria-expanded="false" aria-haspopup="true" *ngIf='this.state'>
              <img height="65" width="65" class="rounded-circle img-fluid" style="border: 1px #b4b4b4 solid;" alt="avatar2"
                [attr.src]="this.user.profileImage.imageUrl" /><!---->
            </a>
        <nz-dropdown-menu #menu="nzDropdownMenu" nzPlacement="bottomRight">
          <ul nz-menu nzSelectable>
            <li nz-menu-item class="bg-light"><a style="font-weight: bold;" class="text-secondary">Colecciones</a></li>
            <li nz-menu-item><a *ngIf='this.state' routerLink="/user/management">
                <ion-icon name="person-outline" style="position: relative; top: 2px;"></ion-icon> {{user?.username}}
              </a></li>

            <li nz-menu-item><a [routerLink]="" *ngIf='this.state'><ion-icon name="notifications-outline"
                  style="position: relative; top: 2px; font-size:16px;"></ion-icon>
                <p-badge styleClass="mr-2" [value]="2" severity="info"></p-badge>
                Notificaciones</a></li>

            <li nz-menu-item><a [routerLink]=""><ion-icon style="position: relative; top: 2px; font-size:16px;"
                  name="heart-half-outline"></ion-icon> Guardadas</a></li>
            <li nz-menu-item><a routerLink="/user-pro"><ion-icon style="position: relative; top: 2px; font-size:16px;"
                  name="speedometer-outline"></ion-icon> Pro-area</a></li>
            <li nz-menu-item><a routerLink="/admin"><ion-icon style="position: relative; top: 2px; font-size:16px;"
                  name="person-circle-outline"></ion-icon> Admin-area</a></li>
            <li nz-menu-item><a [routerLink]=""><ion-icon name="heart-dislike-outline"
                  style="position: relative; top: 2px; font-size:16px;"></ion-icon> Ocultas</a></li>
            <li nz-menu-item><a [routerLink]=""><span nz-icon nzType="audit" nzTheme="outline"
                  style="position: relative; bottom: 3px;"></span> Vistas</a></li>

            <li nz-submenu nzTitle="Publicar">
              <ul>
                <li nz-menu-item><a [routerLink]="" *ngIf='this.state'
                    (click)="createLocationMarker();setAdTitle('Nueva propiedad')"><i
                      class="bi bi-house-add"></i>&nbsp;Vivienda</a></li>
                <li nz-menu-item><a [routerLink]="" *ngIf='this.state'
                    (click)="createLocationMarker();setAdTitle('Proyecto nuevo')"><i
                      class="bi bi-building"></i>&nbsp;Proyecto</a></li>
                <li nz-menu-item><a [routerLink]="" *ngIf='this.state'
                    (click)="createLocationMarker();setAdTitle('Oficina')"><i
                      class="bi bi-buildings"></i>&nbsp;Oficina</a></li>
                <li nz-menu-item><a [routerLink]="" *ngIf='this.state'
                    (click)="createLocationMarker();setAdTitle('Local')"><i
                      class="bi bi-building-fill-add"></i>&nbsp;Local</a></li>
                <li nz-menu-item><a [routerLink]="" *ngIf='this.state'
                    (click)="createLocationMarker();setAdTitle('Nueva parcela')"><i
                      class="bi bi-building-fill-add"></i>&nbsp;Terreno</a></li>
                <li nz-menu-item><a [routerLink]="" *ngIf='this.state'
                    (click)="createLocationMarker();setAdTitle('Garage')"><i
                      class="bi bi-building-fill-add"></i>&nbsp;Garage</a></li>
                <li nz-menu-item><a [routerLink]="" *ngIf='this.state'
                    (click)="createLocationMarker();setAdTitle('Trastero')"><i
                      class="bi bi-building-fill-add"></i>&nbsp;Trastero</a></li>
                <!--<li nz-menu-item><a [routerLink]="" *ngIf='this.state' (click)="createLocationMarker();setAdTitle('Alojamiento vacacional')"><i class="bi bi-building-fill-add"></i>&nbsp;Alojamiento vacacional</a></li>-->
              </ul>
            </li>
            <li nz-menu-item><a *ngIf='this.state' (click)="onLogOut()" routerLink="/home">
                <ion-icon name="log-out-outline"
                  style="position: relative; top: 2px; font-size:16px;"></ion-icon>&nbsp;Salir</a></li>
          </ul>
        </nz-dropdown-menu>
        <!-- Header Menu End -->
        <!-- Header Cta Start -->
        <div class="cta" *ngIf="!this.state">
          <a routerLink="/register" class="btn btn-dark mr-2" >Unirse</a>
          <a routerLink="/login" class="btn btn-outline-dark my-2" >Entrar</a>
        </div>
        <!-- Header Cta End -->
      </div>
    </div>
  </header>
</div>
<!-- Header End -->

<div class="banner-wrap">
  <div class="container">
    <div class="banner-box " >
      <!-- Banner Image Start -->
      <div class="banner-box__img">
        <img
          src="assets/images/banner-image.jpg"
          width="1300"
          height="634"
          alt=""
        />
      </div>
      
      <div class="banner-box__content">
        <h1 class="banner-box__title h">
          Tu asistente internacional en la compra y venta de inmuebles
        </h1>
        <div class="banner-box__txt text-ex-large">
          We provide a complete service for the sale, purchase or rental of
          real estate.
        </div>
      </div>
        
      <!-- Banner Image End -->
      <!-- Banner Content Start -->

      <!-- Banner Content End -->
      <!-- Banner Tab Start  -->
      <div class="banner-tab-wrap">
        <!-- Tab Nav Start -->
        <ul class="nav" role="tablist">
          <li class="nav-item" role="presentation">
            <button
              class="tab-item active"
              data-bs-toggle="pill"
              data-bs-target="#rent"
              type="button"
              role="tab"
              aria-selected="true"
            >
              Alquiler
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button
              class="tab-item"
              data-bs-toggle="pill"
              data-bs-target="#buy"
              type="button"
              role="tab"
              aria-selected="false"
            >
              Compra
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button
              class="tab-item"
              data-bs-toggle="pill"
              data-bs-target="#sell"
              type="button"
              role="tab"
              aria-selected="false"
            >
              Venta
            </button>
          </li>
        </ul>
        <!-- Tab Nav End -->
        <!-- Tab Content Start -->
        <div class="tab-content" id="pills-tabContent">
          <div class="tab-pane fade show active" id="rent" role="tabpanel">
            <form class="form-wrap">
              <div class="row align-items-end">
                <div class="col-md-10">
                  <div class="row">
                    <div class="col-md-6 col-lg-4">
                      <div class="form-group mb-lg-0">
                        <label class="form-label">Ciudad</label>
                        <select class="form-control">
                          <option *ngFor="let opt of provincias">{{opt}}</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                      <div class="form-group mb-lg-0">
                        <label class="form-label">Tipo</label>
                        <select class="form-control">
                          <option *ngFor="let opt of tipo">{{opt}}</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                      <div class="form-group mb-md-0">
                        <label class="form-label">Price Range</label>
                        <select class="form-control">
                          <option>Choose Price Range</option>
                          <option>$0-1000</option>
                          <option>$1000-$2000</option>
                          <option>$2000-$3000</option>
                          <option>$3000-$4000</option>
                          <option>$4000-$5000</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-2 d-md-flex">
                  <button class="btn btn-primary btn-icon ms-auto">
                    <i class="bi bi-search"></i>
                  </button>
                </div>
              </div>
            </form>
          </div>
          <div class="tab-pane fade" id="buy" role="tabpanel">
            <form class="form-wrap">
              <div class="row align-items-end">
                <div class="col-md-10">
                  <div class="row">
                    <div class="col-md-6 col-lg-4">
                      <div class="form-group mb-lg-0">
                        <label class="form-label">Ciudad</label>
                        <select class="form-control">
                          <option *ngFor="let opt of provincias">{{opt}}</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                      <div class="form-group mb-lg-0">
                        <label class="form-label">Tipo</label>
                        <select class="form-control">
                          <option *ngFor="let opt of tipo">{{opt}}</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                      <div class="form-group mb-md-0">
                        <label class="form-label">Price Range</label>
                        <select class="form-control">
                          <option>Choose Price Range</option>
                          <option>$0-1000</option>
                          <option>$1000-$2000</option>
                          <option>$2000-$3000</option>
                          <option>$3000-$4000</option>
                          <option>$4000-$5000</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-2 d-md-flex">
                  <button class="btn btn-primary btn-icon ms-auto">
                    <i class="ri-search-2-line"></i>
                  </button>
                </div>
              </div>
            </form>
          </div>
          <div class="tab-pane fade" id="sell" role="tabpanel">
            <form class="form-wrap">
              <div class="row align-items-end">
                <div class="col-md-10">
                  <div class="row">
                    <div class="col-md-6 col-lg-4">
                      <div class="form-group mb-lg-0">
                        <label class="form-label">Ciudad</label>
                        <select class="form-control">
                          <option *ngFor="let opt of provincias">{{opt}}</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                      <div class="form-group mb-lg-0">
                        <label class="form-label">Tipo</label>
                        <select class="form-control">
                          <option *ngFor="let opt of tipo">{{opt}}</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                      <div class="form-group mb-md-0">
                        <label class="form-label">Price Range</label>
                        <select class="form-control">
                          <option>Choose Price Range</option>
                          <option>$0-1000</option>
                          <option>$1000-$2000</option>
                          <option>$2000-$3000</option>
                          <option>$3000-$4000</option>
                          <option>$4000-$5000</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-2 d-md-flex">
                  <button class="btn btn-primary  ms-auto">
                    <i class="bi bi-search" style="color:white;"></i>
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
        <!-- Tab Content End -->
      </div>
      <!-- Banner Tab End  -->
    </div>
  </div>
</div>

<div class="countries-wrap">
  <!-- Countries Section Start -->
  <div class="container">
    <div class="countries-wrap__title">
      <div class="row justify-content-center">
        <div class="col-xl-5 col-lg-7 col-md-10">
          <h2 class="h2 text-center">
            We are available in many well-known countries
          </h2>
        </div>
      </div>
    </div>
    <div class="countries-list">
      <!-- Countries List Start -->
      <ul class="row">
        <li class="col-lg-3 col-md-6 col-sm-6">
          <div class="countries-box">
            <div class="countries-box__title">America</div>
            <div class="countries-box__img">
              <img src="assets/images/countrie-img-1.jpg" alt="" />
            </div>
          </div>
        </li>
        <li class="col-lg-3 col-md-6 col-sm-6">
          <div class="countries-box">
            <div class="countries-box__title">Spain</div>
            <div class="countries-box__img">
              <img src="assets/images/countrie-img-2.jpg" alt="" />
            </div>
          </div>
        </li>
        <li class="col-lg-3 col-md-6 col-sm-6">
          <div class="countries-box">
            <div class="countries-box__title">London</div>
            <div class="countries-box__img">
              <img src="assets/images/countrie-img-3.jpg" alt="" />
            </div>
          </div>
        </li>
        <li class="col-lg-3 col-md-6 col-sm-6">
          <div class="countries-box">
            <div class="countries-box__title">France</div>
            <div class="countries-box__img">
              <img src="assets/images/countrie-img-4.jpg" alt="" />
            </div>
          </div>
        </li>
      </ul>
      <!-- Countries List End -->
    </div>
  </div>
</div>
<!-- Countries Section End -->

<div class="recently-added-wrap">
  <div class="container">
    <div
      class="recently-added-wrap__title d-md-flex justify-content-between"
    >
      <h2 class="h2">Añadidas recientemente</h2>
      <div class="cta">
        <a href="#" class="btn btn-link">Ver todas</a>
      </div>
    </div>

    <!--Tarjetas-->
    <div class="row row-cols-xl-3 row-cols-lg-3 row-cols-md-2 row-cols-sm-2 g-4" >
      <!--Ad Card-->
      <div class="col d-flex flex-row" *ngFor="let appHome of homes; let i =index"><!--col-lg-8 col-md-10 col-sm-12 col-xs-12 d-flex-->
        <div class=" teaser-tile mt-2 mx-2" >
            <span class="favorite favorite-need-login" data-id="1935922" data-type="estate">
              <div class="wrapperDemo" #wrapperDemo>    
                <input [checked]="false" (change)="cuoreLikeFeature(appHome.viviendaId, appHome,$event)" class="red-heart-checkbox" #redheartcheckbox id="{{appHome.viviendaId}}" type="checkbox">
                <label for="{{appHome.viviendaId}}"></label>
            </div>
            </span>
            <div class="flex-grow-1 " ><!--hace la llamada (click)="runAdCard(appHome)"-->
                <div class="with-img" style="position: relative;">
                  <div id="carouselExample{{this.idIndex[i]}}" class="carousel slide" data-bs-interval="false" >
                    <div class="carousel-inner">
                      <div class="carousel-item " *ngFor="let data of appHome.images; let j=index"  [ngClass]="(j === 0) ? 'active' : ''" >
                          <img style="aspect-ratio:16/9;" src={{data.imageUrl}} alt="First slide">
                      </div>
                    </div>
                    <button class="carousel-control-prev" type="button" [attr.data-bs-target]="'#carouselExample'+this.idIndex[i]" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                      </button>
                      <button class="carousel-control-next" type="button" [attr.data-bs-target]="'#carouselExample'+this.idIndex[i]" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                  </div>
                </div>
                <div class="desc">
                    <div class="teaser-title fs-base color-info mt-1 mx-3 d-flex flex-row-reverse"> <span class="text-secondary">{{appHome.tipo}}</span> </div>
                    <div class="route mx-2">{{appHome.calle}} <span style="color:#d9d9d9">|</span> {{appHome.distrito}} <span style="color:#d9d9d9">|</span> {{appHome.ciudad}}</div>
                    <div class="units mx-2">
                        <div class="unit-item mx-1" data-toggle="tooltip" data-placement="top" title="beds">
                          <ion-icon style="font-size: 1em; position:relative; color:#98a3b2;" name="bed-outline"></ion-icon>
                            <span style="font-size: 0.8em;">{{appHome.habitaciones}}</span>
                        </div>
                        <div class="unit-item mx-1" data-toggle="tooltip" data-placement="top" title="area">
                          <ion-icon style="font-size: 0.8em; position:relative; color:#98a3b2; top:-2px;"  name="expand-outline"></ion-icon>
                            <span style="font-size: 0.8em;">{{appHome.superficie}}m²</span>
                        </div>
                        <div class="unit-item mx-1" data-toggle="tooltip" data-placement="top" title="bath">
                          <ion-icon style="font-size: 0.7em; position:relative; color:#98a3b2; top:-1px;" src="assets/svg/card-toilet.svg"></ion-icon>
                            <span style="font-size: 0.8em; margin-left: 2px;">{{appHome.aseos}}</span>
                        </div>
                        <div class="unit-item mx-1" data-toggle="tooltip" data-placement="top" title="facing">
                          <ion-icon style="font-size: 0.7em; position:relative; color:#98a3b2; top:-1px;" src="assets/svg/card-facing.svg"></ion-icon>
                            <span style="font-size: 0.8em; margin-left: 2px;">{{appHome.orientacion}}</span>
                        </div>
                        <div class="unit-item mx-1" data-toggle="tooltip" data-placement="top" title="card-spaces">
                          <ion-icon style="font-size: 0.9em; position:relative; color:#98a3b2; top:-1px;" name="car-sport-outline"></ion-icon>
                            <span style="font-size: 0.8em; margin-left: 2px;">{{appHome.garage}}</span>
                        </div>
                        <div class="unit-item mx-1" data-toggle="tooltip" data-placement="top" title="year">
                          <ion-icon style="font-size: 0.7em; position:relative; color:#98a3b2; top:-1px;" name="hammer-outline"></ion-icon>
                            <span style="font-size: 0.8em; margin-left: 2px;">{{appHome.antiguedad}}</span>
                        </div>
                    </div>
                </div>
                <div class="txt h-100p b-none pt-0">
                    <div class="clamp-3 text-nowrap" (click)="runAdCard(appHome,'list')">{{appHome.descripcion}}</div>
                </div>
                <div class="price">
                    <div class="price-item">
                      {{formatNumberWithCommas(appHome.precioFinal)+'€'}}
                    </div>
                </div>
                <!--<div class="social-actions">
                    <div class="like-item">
                      <ion-icon name="heart-outline"></ion-icon>
                          <div class="social-counter" data-counter="1">1</div>
                      </div>
                    <div class="superlike-item">
                      <ion-icon name="heart-outline"></ion-icon>
                        <div class="social-counter" data-counter="0"></div>
                    </div>
                    <div class="d-flex flex-grow-1 justify-content-end">
                        <div class="recommend-item" >
                            <div class="social-title">Recommend</div>
                            <ion-icon name="thumbs-up-outline"></ion-icon>
                            <div class="social-counter" data-counter="0"></div>
                        </div>
                    </div>
                </div>-->
              </div>
            <!--<div class="txt color-black b-none pt-4">
                <div class="contacts listing-contacts-block">
                    <div class="buttons">
                        <a class="btn btn-sm w-100p btn-outline-primary">
                          <ion-icon name="thumbs-up-outline"></ion-icon>
                            <span class="text-truncate ml-6">Mensaje</span>
                        </a>
                    </div>
                    <div class="col-auto overflow-hidden">
                      <div class="btn btn-sm w-100p btn-primary show-contacts-btn" >
                        <ion-icon name="call-outline"></ion-icon>
                      </div>
                  </div>
                </div>
            </div>-->
        </div>
    </div>
  </div>
  
  <!--End Tarjetas-->

    

  </div>
</div>

<div class="banner-wrap">
  <div class="container">
    <div class="banner-box">
      <!-- Banner Image Start -->
      <div class="banner-box__img">
        <img
          src="assets/images/banner-image-2.jpg"
          width="1300"
          height="482"
          alt=""
        />
      </div>
      <!-- Banner Image End -->
      <!-- Banner Content Start -->
      <div class="banner-box__content">
        <h1 class="banner-box__title h1">Find your best Real Estate</h1>
        <div class="banner-box__txt text-ex-large">
          We provide a complete service for the sale, purchase or rental of
          real estate.
        </div>
        <div class="banner-box__cta">
          <a href="#" class="btn btn-primary">Contact Us</a>
        </div>
      </div>
      <!-- Banner Content End -->
    </div>
  </div>
</div>

<div class="footer-wrap">
  <footer>
    <div class="container">
      <div class="row justify-content-between">
        <div class="col-lg-4 col-md-8">
          <div class="f-info">
            <div class="f-logo pb-3">
              <img src="assets/img/tmp/unknown-house.png" width="80px;" height="80px" alt="" />
            </div>
            <p class="text-small pb-3">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
              do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              Ut enim ad minim veniam, quis nostrud exercitation ullamco
              laboris nisi ut aliquip ex ea commodo consequat.
            </p>
            <div class="d-none d-lg-block">
              <div class="social-list pb-3">
                <ul>
                  <li>
                    <a href="#" class="facebook" target="_blank"
                      ><i class="ri-facebook-circle-fill"></i
                    ></a>
                  </li>
                  <li>
                    <a href="#" class="twitter" target="_blank"
                      ><i class="ri-twitter-fill"></i
                    ></a>
                  </li>
                  <li>
                    <a href="#" class="instagram" target="_blank"
                      ><i class="ri-instagram-fill"></i
                    ></a>
                  </li>
                  <li>
                    <a href="#" class="linkedin" target="_blank"
                      ><i class="ri-linkedin-box-fill"></i
                    ></a>
                  </li>
                </ul>
              </div>
              <p class="text-small">© 2023 . All rights reserved.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-7 col-md-12">
          <div class="row">
            <div class="col-md-3 col-sm-6 col-6 pb-4 pb-md-0">
              <h5 class="h4 pb-3">Take a tour</h5>
              <div class="quick-links">
                <ul>
                  <li><a href="#">Features</a></li>
                  <li><a href="#">Partners</a></li>
                  <li><a href="#">Pricing</a></li>
                  <li><a href="#">Product</a></li>
                  <li><a href="#">Support</a></li>
                </ul>
              </div>
            </div>
            <div class="col-md-4 col-sm-6 col-6 pb-4 pb-md-0">
              <h5 class="h4 pb-3">Our Company</h5>
              <div class="quick-links">
                <ul>
                  <li><a href="#">About Us</a></li>
                  <li><a href="#">Agents</a></li>
                  <li><a href="#">Blog</a></li>
                  <li><a href="#">Media</a></li>
                  <li><a href="#">Contact Us</a></li>
                </ul>
              </div>
            </div>
            <div class="col-md-5">
              <h5 class="h4 pb-3">Subscribe</h5>
              <div class="subscribe-form-wrap">
                <p class="text-small">
                  Subscribe to get latest property, blog news from us
                </p>
                <form class="subscribe-form form-wrap">
                  <div class="form-group">
                    <input
                      type="email"
                      class="form-control"
                      placeholder="Email Address"
                    />
                    <div class="cta">
                      <button
                        class="btn btn-primary btn-icon btn-sm btn-rounded" 
                      >
                        <i class="bi-arrow-right-line"></i>
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="d-lg-none pt-4">
        <div class="social-list pb-3">
          <ul>
            <li>
              <a href="#" class="facebook" target="_blank"
                ><i class="ri-facebook-circle-fill"></i
              ></a>
            </li>
            <li>
              <a href="#" class="twitter" target="_blank"
                ><i class="ri-twitter-fill"></i
              ></a>
            </li>
            <li>
              <a href="#" class="instagram" target="_blank"
                ><i class="ri-instagram-fill"></i
              ></a>
            </li>
            <li>
              <a href="#" class="linkedin" target="_blank"
                ><i class="ri-linkedin-box-fill"></i
              ></a>
            </li>
          </ul>
        </div>
        <p class="text-small">© 2023 . All rights reserved.</p>
      </div>
    </div>
  </footer>
</div>

<!--Ghost buttons-->
<a id="linkPopup" class="linkPopup" style="display: none;" [routerLink]="['/add',this.routerLinkId]" target="_blank" 
  fragment={{this.routerLinkModel}}></a>