<div class="container-fluid p-5" style="height: 100%; background: #e0e0e0;">
  <div class="d-flex justify-content-center h-50">
    <div class="user_card">
      <div>
        <div class="d-flex justify-content-center logo">
          <img src="assets/img/tmp/unknown-house.png" alt="Logo de la marca">
        </div>
      </div>
      <div class="d-flex justify-content-center mt-4">
        <div class="mt-1 mb-1">
          <h3>Crear cuenta</h3>
        </div>
      </div>
      <div class="d-flex justify-content-center">
        <form #registerForm="ngForm" (ngSubmit)="onRegister(registerForm.value)">
          <div class="row">
            <!-- Firstname & Lastname -->
            <div class="col-md-1"></div>
            <div class="input-group-append inputWithIcon col-md-5">
              <label for="firstnameInput">Nombre: </label>
              <input type="text" class="form-control" name="firstname" placeholder="" required ngModel
                #firstnameInput="ngModel">
            </div>
            <div class="input-group-append inputWithIcon col-md-5">
              <label for="lastnameInput">Apellido: </label>
              <input type="text" class="form-control" name="lastname" placeholder="" required ngModel
                #lastnameInput="ngModel">
            </div>
            <div class="col-md-1"></div>
            <!-- Email input -->
            <div class="col-md-1"></div>
            <div class="input-group-append inputWithIcon col-md-10">
              <label for="emailInput">Email: </label>
              <input type="email" class="form-control" name="email" placeholder="" ngModel [email]="true"
                #emailInput="ngModel" required>
            </div>
            <div class="col-md-1"></div>
            <!-- Submit button -->
            <div class="col-md-1"></div>
            <div class="d-flex justify-content-center mt-3 col-md-10">
              <button style="border: 1px;" type="submit" [disabled]="registerForm.invalid || showLoading" name="button"
                class=" login_btn ">
                <span *ngIf="showLoading" class="spinner-border text-light" role="status"
                  style="width: 1.5rem; height: 1.5rem; margin-top: 7px;">
                </span>
                <span style=" font-weight: 600;" *ngIf="!showLoading">Crear</span>
              </button>
            </div>
            <div class="col-md-1"></div>
          </div>
          <!-- O -->
          <br>
          <div class="container-fluid p-1 d-flex align-items-center justify-content-center col-10">
            <h6><span>O</span></h6>
          </div>
        </form>
      </div>
      <div class="d-flex justify-content-center mt-3 flex-column" style="align-items:center;">
        <button type="button" class=" top-fill"><i class="bi bi-facebook p-1"></i>
          Continuar con Facebook</button>
      </div>
      <div class="d-flex justify-content-center mt-3 flex-column" style="align-items:center;">
        <button type="button" class=" top-fill"><i class="bi bi-google"></i>
          Continuar con Google</button>
      </div>
      <div class="d-flex justify-content-center mt-3 flex-column" style="align-items: center;">
        <button type="button" class=" top-fill"><i class="bi bi-apple"></i> Continuar con Apple</button>
      </div>
      <div class="mt-4">
        <div class="d-flex justify-content-center links">
          Dispone de una cuenta? <a routerLink="/login" class="ml-2" style="color: rgba(var(--h5f,56,151,240),1);">
            Entrar</a>
        </div>
      </div>
    </div>
  </div>
  <ngx-loading [show]="showLoading" [config]="{ backdropBorderRadius: '3px',
              animationType: ngxLoadingAnimationTypes.rectangleBounce, }"
    [template]="customLoadingTemplate"></ngx-loading>
</div>

<!--Modal email verification link-->

<!--<div class="modal draggable fade bd-example-modal-lg" id="emailInfoModal" tabindex="-1" rol="dialog"
  aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog" rol="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-center">Registro</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div>
          <div class="c-email" >  
            <div class="c-email__header">
              <h1 class="c-email__header__title">Estas mas cerca !!</h1>
            </div>
            <div class="c-email__content">
              <p class="c-email__content__text text-title">
                Un email de verificación ha sido enviado a:
              </p>
              <div class="c-email__code">
                <span class="c-email__code__text">123456</span>
              </div>
              <p class="c-email__content__text text-italic opacity-30 text-title mb-0">Tiene 24 horas para validar su registro</p>
              <p class="c-email__content__text text-title">
                No he recibido nada ?
              </p>
              <button type="button" class="btn btn-success">Volver a enviar</button>
            </div>
            <div class="c-email__footer"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>-->